@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191923;
    font-family: 'Poppins', sans-serif;
    padding-top: 16px;
}

/* LEFT CONTAINER

Table of contents
1. Avatar 
2. Info
3. Language
4. Skill
5. Knowledge
6. Download
7. Social

*/

.leftwrap {
    background: #20202a;
    box-shadow: 0 3px 8px 0 rgb(32 32 42);
    height: 100vh;
}

.leftwrap__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 235px;
    padding: 30px;
}

.leftwrap__avatar--image {
    padding-bottom: 10px;
}

.leftwrap__avatar--image img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.leftwrap__avatar--blob {
    position: relative;
    z-index: 2;
}

.leftwrap__avatar--blob .blob--pulse {
    position: absolute;
    background-color: #ffc107;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -40px;
    bottom: 20px;
    box-shadow: 0 0 0 0 rgba(140, 140, 142, 1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(140, 140, 142, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(140, 140, 142, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(140, 140, 142, 0);
	}
}

.leftwrap__avatar--name {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    transition: 0.5s;
}

.leftwrap__avatar--name:hover {
    color: #ffc107;
    cursor: pointer;
    transition: 0.5s;
}

.leftwrap__avatar--job {
    color: white;
    color: #8C8C8E;
    font-size: 13px;
}

.leftwrap__info {
    padding: 15px 30px;
}

.leftwrap__info ul li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: white;
}

.leftwrap .leftwrap--whitespan {
    font-size: 13px;
}

.leftwrap .leftwrap--coldspan {
    color: #8C8C8E;
}

.leftwrap__divider {
    background: #8c8c8e;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 82%;
    height: 1px;
    opacity: 0.3;
}

.leftwrap__language {
    display: flex;
    padding: 30px;
}

.leftwrap__language--pie1,
.leftwrap__language--pie2,
.leftwrap__language--pie3 {
    display: flex;
    justify-content: center;
    width: 33.33333%;
}

.leftwrap__language--pie1 .circle,
.leftwrap__language--pie2 .circle,
.leftwrap__language--pie3 .circle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: none;
    border: 3px solid #ffc107;
    border-radius: 50%;
}

.leftwrap__language--pie1 .number,
.leftwrap__language--pie2 .number,
.leftwrap__language--pie3 .number {
    position: absolute;
    color: #cacace;
    width: 15px;
    height: 15px;
    counter-reset: num var(--num);
}

.leftwrap__language--pie1 .number {
    animation: pie1 1.5s linear forwards;
    left: 7%;
    top: 24%;
}

.leftwrap__language--pie2 .number {
    animation: pie2 1.5s linear forwards;
    left: 12%;
    top: 24%;
}

.leftwrap__language--pie3 .number {
    animation: pie3 1.5s linear forwards;
    left: 14%;
    top: 24%;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.number::after {
    content: counter(num);
}
  
@keyframes pie1 {
    from {
      --num: 0;
    }
    to {
      --num: 100;
    }
}

@keyframes pie2 {
    from {
      --num: 0;
    }
    to {
      --num: 90;
    }
}

@keyframes pie3 {
    from {
      --num: 0;
    }
    to {
      --num: 70;
    }
}

.leftwrap__skill {
    padding: 30px 30px 10px;
}

.leftwrap__skill li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    animation: opacity 1.5s linear forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}

.leftwrap__skill--bar {
    height: 4px;
    background-color: #ffc107;
    margin-bottom: 20px;
    width: var(--percent);
    animation: growth 1.5s linear forwards;
}

@keyframes growth {
    from {
        opacity: 0;
        width: calc(var(--percent) -30%);
    }
    to {
        opacity: 1;
        width: calc(var(--percent));
    }
}

.leftwrap__know {
    padding: 15px 30px;
}

.leftwrap__know li {
    color: #8C8C8E;
    list-style-type: none;
    font-size: 15px;
    font-weight: 300;
}

.leftwrap__know li i {
    color: #ffc107;
    font-size: 8px;
    padding-right: 6px;
}

.leftwrap__download {
    padding: 15px 30px;
}

.leftwrap__download a {
    text-decoration: none;
    color: #8C8C8E;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
}

.leftwrap__download i {
    color: #8C8C8E;
    font-size: 10px;
    padding-left: 2px;
}

.leftwrap__download a:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.leftwrap__social {
    background-color: #242430;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

.leftwrap__social a {
    color: #8C8C8E;
    font-size: 12px;
}

/* RIGHT CONTAINER 

Table of contents
1. Banner
2. Achivements
3. Services
4. Price plans
5. Testimonials
6. Brands
7. Footer

*/

.rightwrap {
    background-color: #1e1e28;
    height: 500vh;
}

.rightwrap__banner {
    position: relative;
    width: 100%;
    height: 393px;
    background-image: linear-gradient(0, rgba(32, 32, 42, 0.9), rgba(32, 32, 42, 0.9)),
    url('/Baitap/baitapcv/assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.rightwrap__banner--blackbar {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 30px;
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    background-color: rgba(30, 30, 40, 0.9);
    z-index: 10;
}

.rightwrap__banner--bg {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 80%;
    object-fit: cover;
}

.rightwrap__banner--overlay {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 80%;
    background-image: linear-gradient(90deg, rgba(45,45,58,.9) 15%, rgba(45,45,58,.7) 50%, rgba(43,43,53,.7) 100%);
    z-index: 1000;
}

.rightwrap__banner--text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 70%;
    padding: 60px;
}

.rightwrap__banner--text > span {
    position: absolute;
    top: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.rightwrap__banner--text > p {
    position: absolute;
    top: 55%;
    font-family: 'Courier Prime', monospace;
    color: white;
    text-decoration: none;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.rightwrap__banner--text > p > .color {
    color: #ffc107;
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 30em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }
    to {
        border-right-color: transparent;
    }
}

.right__wrap--btn {
    position: absolute;
    top: 75%;
    background-color: #ffc107;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.right__wrap--btn a {
    text-decoration: none;
    text-transform: uppercase;
    color: #20202A;
    font-size: 12px;
    font-weight: 600;
}

.right__wrap--btn:hover {
    transform: translateY(-2px);
}

.rightwrap__banner--portrait {
    position: absolute;
    right: 2%;
    bottom: 0;
    width: 360px;
}

.rightwrap__achive {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rightwrap__achive--number {
    color: #ffc107;
    font-size: 24px;
    font-weight: 600;
}

.rightwrap__achive--text {
    color: white;
    font-size: 14px;
}

.rightwrap__services {
    padding: 1.6em 1.6em 0;
}

.rightwrap__services--heading {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.rightwrap__services--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.rightwrap__services--block {
    width: calc(90%/3);
    height: 230px;
    margin: 12px 0;
    background-color: #2c2c37;
    padding: 30px;
}

.rightwrap__services--block span {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.rightwrap__services--block p {
    color: #8c8c8e;
    font-size: 14px;
    line-height: 1.6;
    margin: 10px 0;
}

.rightwrap__services--block a {
    color: #ffc107;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.rightwrap__price {
    padding: 1.6em 1.6em 0;
}

.rightwrap__price--heading {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.rightwrap__price--container {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.rightwrap__price--block {
    width: calc(90%/3);
    height: 370px;
    margin: 0 12px;
    background-color: #2c2c37;
    padding: 30px;
}

.rightwrap__price--block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rightwrap__price--blocktitle {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.rightwrap__price--block div {
    margin: 25px;
    color: white;
}

.rightwrap__price--block .block--span1 {
    font-size: 13px;
    font-weight: 200;
}

.rightwrap__price--block .block--span2 {
    font-size: 30px;
    font-weight: 600;
    color: #ffc107;
    margin: 10px;
    text-transform: uppercase;
}

.rightwrap__price--block ul {
    color: #8c8c8e;
    list-style-type: none;
}

.rightwrap__price--block ul li {
    margin-bottom: 10px;
    font-size: 13px;
}

.rightwrap__price--block ul li i {
    color: #ffc107;
    font-size: 9px;
}

.rightwrap__price--block ul .block--empty {
    opacity: 0.6;
}

.rightwrap__price--block a {
    color: #ffc107;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.rightwrap__price--block .block--note {
    font-size: 11px;
    color: #8c8c8e;
}

.rightwrap__brands {
    padding: 1.6em 1.6em 0;
}

.rightwrap__brands--heading {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.right__brands--container {
    display: flex;
    justify-content: space-around;
}

.rightwrap__brands img {
    width: 120px;
    opacity: 0.6;
    transition: 0.5s;
}

.rightwrap__brands img:hover {
    opacity: 1;
    transition: 0.5s;
}

.rightwrap__footer {
    margin: 0 auto;
    width: 95%;
    height: 50px;
    background-color: #2c2c37;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.rightwrap__footer div {
    color: #8c8c8e;
    font-size: 12px;
}